Source: scheme2c
Section: lisp
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 7), libsigsegv-dev, texlive-latex-base, texlive-latex-extra, texlive-fonts-recommended, ghostscript, latex209-bin
Build-Depends-Indep: texlive-latex-base, texlive-latex-extra, texlive-fonts-recommended, ghostscript, latex209-bin
Build-Depends-Arch: libsigsegv-dev
Standards-Version: 3.8.1
Homepage: http://scheme2c.alioth.debian.org/
Vcs-Git: git://git.debian.org/git/collab-maint/scheme2c.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/scheme2c.git
# Vcs-Git: git://git.debian.org/git/scheme2c/scheme2c.git
# Vcs-Browser: http://git.debian.org/?p=scheme2c/scheme2c.git
# Vcs-Git: git://github.com/barak/scheme2c.git
# Vcs-Browser: http://github.com/barak/scheme2c.git
# Vcs-Darcs: http://darcs.debian.org/darcs/scheme2c/deb
# Vcs-Browse: http://darcs.alioth.debian.org/cgi-bin/darcsweb.cgi?r=scheme2c/deb
# Vcs-Darcs: http://darcs.debian.org/darcs/scheme2c/scheme2c
# Vcs-Browse: http://darcs.alioth.debian.org/cgi-bin/darcsweb.cgi?r=scheme2c/scheme2c

Package: scheme2c
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Joel Bartlett's fabled Scheme->C system
 The original Scheme->C system, the first of its kind.  It conforms to
 the R4RS Scheme standard, and compiles Scheme sources to C as an
 intermediate step, allowing easy integration with external libraries.
 Also included is an interpreter, for development.  Due to a variety
 of clever techniques, the system is quite fast.

Package: scheme2c-doc
Section: doc
Architecture: all
Description: Documentation for the Scheme->C system
 The documentation that accompanies the Scheme->C system includes a
 programmer's guide, tutorial, and a copy of the R4RS specification.
