Source: scheme2c
Section: lisp
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 10),
    libsigsegv-dev, libx11-dev,
    texlive-latex-base, texlive-latex-extra, latex209-bin,
    texlive-fonts-recommended, ghostscript
Standards-Version: 3.9.8
Homepage: http://scheme2c.alioth.debian.org/
Vcs-Git: https://salsa.debian.org/debian/scheme2c.git
Vcs-Browser: https://salsa.debian.org/debian/scheme2c

Package: scheme2c
Architecture: i386 amd64 armel armhf kfreebsd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libsigsegv-dev
Suggests: scheme2c-doc
Description: Joel Bartlett's fabled Scheme->C system
 The original Scheme->C system, the first of its kind.  It conforms to
 the R4RS Scheme standard, and compiles Scheme sources to C as an
 intermediate step, allowing easy integration with external libraries.
 Also included is an interpreter, for development, along with some X11
 interfaces and an X11-enabled interpreter.  Due to a variety of
 clever techniques, the system is quite fast.

Package: scheme2c-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Documentation for the Scheme->C system
 The documentation that accompanies the Scheme->C system includes a
 programmer's guide, tutorial, and a copy of the R4RS specification.
