#!/usr/bin/make -f

arch := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(arch),amd64)
  S2C_ARCH = AMD64
else ifeq ($(arch),i386)
  S2C_ARCH = LINUX
else ifeq ($(arch),armel)
  S2C_ARCH = ARM
else ifeq ($(arch),armhf)
  S2C_ARCH = ARM
else
  $(warning Warning: unsupported architecture $(arch))
  S2C_ARCH = UNSUPPORTED
endif

dh_targets=binary binary-arch binary-indep build build-arch build-indep clean install

$(dh_targets) %:
	dh $@ --parallel

.PHONY: $(dh_targets)

override_dh_auto_configure:
	$(MAKE) for$(S2C_ARCH)

override_dh_auto_build:
	$(MAKE) -C $(S2C_ARCH)	# architecture dependent, executables
	$(MAKE) -C $(S2C_ARCH)/cdecl all # sizeof cdecl
	$(MAKE) -C $(S2C_ARCH)/xlib sizeof.cdecl libs2cxl.a s2cixl
	$(MAKE) -C doc		# architecture independent, documentation

install_options = \
 DESTDIR=`pwd`/debian/tmp \
 prefix=/usr \
 MANDIR=/usr/share/man \
 DOCDIR=/usr/share/doc/scheme2c

override_dh_auto_install:
	$(MAKE) -C $(S2C_ARCH)/scrt  $(install_options) install
	$(MAKE) -C $(S2C_ARCH)/scsc  $(install_options) install
	$(MAKE) -C $(S2C_ARCH)/cdecl $(install_options) install
	$(MAKE) -C $(S2C_ARCH)/xlib  $(install_options) install
	$(MAKE) -C doc               $(install_options) install

override_dh_compress:
	dh_compress --exclude=.pdf --exclude=scheme2c-doc/examples/

ifneq ($(S2C_ARCH),)
override_dh_auto_clean:
	-rm -rf $(S2C_ARCH)
	dh_auto_clean
endif
