#!/usr/bin/make -f

# Turn on hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Use clang
ifeq ($(origin CC),default)
CC := clang
endif

arch := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(arch),amd64)
  S2C_ARCH = AMD64
else ifeq ($(arch),i386)
  S2C_ARCH = LINUX
else ifeq ($(arch),armel)
  S2C_ARCH = ARM
else ifeq ($(arch),armhf)
  S2C_ARCH = ARM
else ifeq ($(arch),kfreebsd-i386)
  S2C_ARCH = OPENBSD
else
  $(warning Warning: unsupported architecture $(arch))
  S2C_ARCH = UNSUPPORTED
endif

%:
	dh $@

override_dh_auto_configure:
	$(MAKE) for$(S2C_ARCH) $(path_opts)

path_opts = \
 prefix=/usr \
 MANDIR='$$(prefix)/share/man' \
 DOCDIR='$$(prefix)/share/doc/scheme2c'

install_opts = \
 DESTDIR=`pwd`/debian/tmp \
 $(path_opts)

override_dh_auto_build:
	$(MAKE) -C $(S2C_ARCH)	     $(path_opts) CC="$(CC)" # architecture dependent, executables
	$(MAKE) -C $(S2C_ARCH)/cdecl $(path_opts) CC="$(CC)" all # sizeof cdecl
	$(MAKE) -C $(S2C_ARCH)/xlib  $(path_opts) CC="$(CC)" sizeof.cdecl libs2cxl.a s2cixl
	$(MAKE) -C doc		     $(path_opts) # architecture independent, documentation
	$(MAKE) -C doc pdfs=r4rs.pdf $(path_opts) # architecture independent, documentation

override_dh_auto_install:
	$(MAKE) -C $(S2C_ARCH)/scrt  $(install_opts) install
	$(MAKE) -C $(S2C_ARCH)/scsc  $(install_opts) install
	$(MAKE) -C $(S2C_ARCH)/cdecl $(install_opts) install
	$(MAKE) -C $(S2C_ARCH)/xlib  $(install_opts) install
	$(MAKE) -C doc               $(install_opts) install
	$(MAKE) -C doc pdfs=r4rs.pdf $(install_opts) install

override_dh_compress:
	dh_compress --exclude=.pdf --exclude=scheme2c-doc/examples/

ifneq ($(S2C_ARCH),)
override_dh_auto_clean:
	-rm -rf $(S2C_ARCH)
	dh_auto_clean
endif
